body {
    margin: 0;
    padding: 0;
}

.columns {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    overflow: hidden;
}

.single-column {
    height: 100%;
    width: 25%;
    float: left;
    transition: all 1s;
}

.single-column:hover {
    width: 40%;
}

.columns:hover .single-column:not(:hover) {
    width: 20%;
}

.single-column-inner {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 200%;
}

.single-column:nth-child(1) .single-column-inner{
    background-image: url(../img/1.jpg);
}

.single-column:nth-child(2) .single-column-inner{
    background-image: url(../img/2.jpg);
}

.single-column:nth-child(3) .single-column-inner{
    background-image: url(../img/3.jpg);
}

.single-column:nth-child(4) .single-column-inner{
    background-image: url(../img/4.jpg);
}